<% layout('layout/boilerplate') %>

        <div class="row">
                <h1 class='text-center'>New Campground</h1>
                <div class="col-6 offset-3">
                        <form action="/campgrounds" method="POST">
                                <div class="mb-3">
                                        <label class="form-label" for="title">Enter title</label>
                                        <input type="text" name="campground[title]" id="title"
                                                placeholder="campground title" class="form-control">
                                </div>
                                <div class="mb-3">
                                        <label class="form-label" for="location">Enter location: (town, state)</label>
                                        <input type="text" name="campground[location]" id="location"
                                                placeholder="campground location" class="form-control">
                                </div>
                                <div class="mb-3">
                                        <label class="form-label" for="location">Enter location: (town, state)</label>
                                        <input type="text" name="campground[location]" id="location"
                                                placeholder="campground location" class="form-control">
                                </div>
                                <div class="mb-3">
                                        <label class="form-label" for="location">Enter location: (town, state)</label>
                                        <input type="text" name="campground[location]" id="location"
                                                placeholder="campground location" class="form-control">
                                </div>
                                <div class="d-grid gap-2">
                                        <button class="btn btn-info btn-sm btn-block">Submit</button>
                                </div>
                        </form>

                        <a href="/campgrounds"><button class="btn btn-outline-warning m-3">Back</button></a>
                </div>
        </div>